{{ define "head" }}
{{ partial "head.html" }}
{{ end }}
{{ define "main" }}
{{ $cols := .Params.cols }}
{{ $contentClass := "content" }}
{{ if .Params.bigContent }}
{{ $contentClass = "big-content" }}
{{ end }}
<div class="container {{ $contentClass }}">
  <div class="row">
    {{ range .Resources.Match "*.md" }}
    {{ if eq $cols 2 }}
    <div class="col-md-6">
      <h2>{{ .Title }}</h2>
      <p>{{ .Content }}</p>
    </div>
    {{ else if eq $cols 3 }}
    <div class="col-md-4">
      <h2>{{ .Title }}</h2>
      <p>{{ .Content }}</p>
    </div>
  {{ else }}
    <div class="col-md-12">
      <h2>{{ .Title }}</h2>
      <p>{{ .Content }}</p>
    </div>
    {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}
