{{ $main := resources.Get "css/main.css" | resources.ExecuteAsTemplate "" . | minify | fingerprint }}
{{ $bootstrap := resources.Get "css/bootstrap/bootstrap.min.css" | fingerprint }}
{{ $bootstrapIcons := resources.Get "css/bootstrap-icons/bootstrap-icons.min.css" | fingerprint }}
<link rel="stylesheet"
      href="{{ $main.RelPermalink }}"
      integrity="{{ $main.Data.Integrity }}"
      crossorigin="anonymous">
<link rel="stylesheet"
      href="{{ $bootstrap.RelPermalink }}"
      integrity="{{ $bootstrap.Data.Integrity }}"
      crossorigin="anonymous">
<link rel="stylesheet"
      href="{{ $bootstrapIcons.RelPermalink }}"
      integrity="{{ $bootstrapIcons.Data.Integrity }}"
      crossorigin="anonymous">
