{{ if site.Params.instagram.enabled }}
{{ $instafeed := resources.Get "js/instafeed.min.js" | fingerprint }}
{{ $getinstafeed := resources.Get "js/getinstafeed.js" | js.Build (dict "params" (dict "tokenURL" site.Params.instagram.tokenURL)) | minify | fingerprint }}
<script src="{{ $instafeed.RelPermalink }}"
        integrity="{{ $instafeed.Data.Integrity }}"
        crossorigin="anonymous"></script>
<script src="{{ $getinstafeed.RelPermalink }}"
        integrity="{{ $getinstafeed.Data.Integrity }}"
        crossorigin="anonymous"></script>
{{ end }}
