header {
}

#menu {
  position: fixed;
}

#banner img {
  max-height: 484px;
}

#menu img {
  height: 180px;
}

.menu-button {
  color: {{ site.Params.style.brandColor1 }} !important;
  background-color: {{ site.Params.style.brandColor2 }} !important;
  border-radius: 0px !important;
  opacity: 100 !important;
}

#sideMenu {
  color: white !important;
  background-color: {{ site.Params.style.brandColor1 }};
}

#sideMenu a {
  color: {{ site.Params.style.brandColor3 }};
  text-decoration: none;
}

#sideMenu a:hover {
  color: {{ site.Params.style.brandColor2 }} !important;
}

.btn-close {
  filter: invert(1);
}

.section a {
  text-decoration: none;
  color: black;
}

.section .icon {
  font-size: 8rem;
}

#instafeed img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.content {
  margin-top: 20rem;
  margin-bottom: 5rem;
}

.big-content {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

footer {
  margin-top: 3rem;
  padding: 3rem 0;
  color: {{ site.Params.style.brandColor3 }};
  background-color: {{ site.Params.style.brandColor1 }};
}

footer a {
  text-decoration: none;
  color: {{ site.Params.style.brandColor3 }};
}

@media (max-width: 1600px) {
  #menu {
    position: static;
    padding-bottom: 1rem;
    border-bottom: thin solid {{ site.Params.style.brandColor1 }}80;
  }

  .content {
    margin-top: 5rem;
  }

  .big-content {
    margin-top: 2rem;
  }
}
