<div id="menu"
     class="container-fluid d-flex justify-content-between align-items-center">
  <div>
    <a href="/">
      <img src="{{ (printf "images/%s" .Site.Params.logo) | relURL }}"
           class="ps-4 pt-4"
           alt="Logo">
    </a>
  </div>
  <div>
    <button class="btn me-4 fs-4 fw-bold menu-button"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#sideMenu"
            aria-controls="sideMenu">☰</button>
  </div>
</div>
<div class="offcanvas offcanvas-end"
     tabindex="-1"
     id="sideMenu"
     aria-labelledby="sideMenuLabel">
  <div class="offcanvas-header text-end d-block">
    <button type="button"
            class="btn mt-3 me-3 fs-4 fw-bold menu-button"
            data-bs-dismiss="offcanvas"
            aria-label="Close">X</button>
  </div>
  <div class="offcanvas-body">
    <div class="dropdown mt-3">
      <div>
        <a href="/" class="fs-3">{{ i18n "home" }}</a>
      </div>
      {{ range site.RegularPages }}
      <div>
        <a class="fs-3" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
